@import url('https://fonts.googleapis.com/css2?family=Chango&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
}

#box{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #27c9ff;
    max-width: 100vw;
    
    
}
#conteúdo{
    display: flex;
    flex-direction: row;
}
#esquerda{
    max-width: 50%;
    left: 0;
}
#direita{
    width: 80%;
    flex-direction: unset;
    right: 0;
}
#boxBanner{
    max-width: 600px;
    top: 15vh;
    right: 0;
}

#text1, #text2{
    margin-left: 4vw;
}

section{
    position: relative;
    width: 100;
    min-height: 100vh;
    padding: 100px;
    background: linear-gradient(to bottom, #3ac7f4, #a4e4fa);
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: hidden;
    box-sizing: border-box;
}

.img_mobile{
    display: none;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.container .text{
    position: relative;
    max-width: 600px;
}

.container .text h1{
    color: #ff8200;
    font-size: 3.0em;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.container .text h1 span{
    font-size: 0.8em;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.Bts{
    margin-left: 5vw;
    position: static absolute;
}
.Bt{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 15px 2em;
    width: 250px;
    align-items: center;
    justify-content: center;
    background-color: #ff8200;
    border: none;
    border-radius: 30px;
    transition: 0.1s ease-in-out;
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    box-shadow: 3px 4px 20px rgba(1, 13, 26, 0.301);
    position: relative;
}
.Bt:hover{
    transform: translateY(-5px)
}
.img2{
    filter: drop-shadow(10px 5px 4px #1c9ac0);
    width: 70%;
    height: 70%;
    
}
@media only screen and (max-width: 1060px){
    #box{
        background-color: red;
    }
    #text1 {
        font-size: 40px;
    }
    #text2{
        font-size: 30px;
    }
    .img2{
        width: 300px;
        height: 300px;
    }
}
@media only screen and (min-height: 1000px){
    #box{
        background-color: blue;
    }
    #conteúdo{
        flex-direction: column;
    }
    #esquerda{
        max-width: 100%;
    }
    #tex1, text2{
        width: 300px;
    }
    #text1{
        font-size: 3em;
    }
    #text2{
        font-size: 35px;
    }
    #boxBanner{
        top: 8vh;
    }

}
@media only screen and (max-height: 600px){
    #box{
        background-color: yellowgreen;
    }
    #text1{
        font-size: 2em;
    }
    #text2{
        font-size: 25px;
    }
    .Bt{
        margin-top: 35px;
        width: 220px;
        height: 45px;
        font-size: 18px;
    }
    #esquerda{
        padding-top: 0;
        height: auto;
    }
    
}
@media only screen and (max-width: 650px){
    #direita{
        display: none;
    }
    #esquerda{
        max-width: 100%;}
    #text1{
        font-size: 2.5em;
    }
    #text2{
        font-size: 30px;
    }
    .Bt{
        margin-top: 35px;
        width: 220px;
        height: 45px;
        font-size: 18px;
    }
}
@media only screen and (max-width: 500px){
    #box{
        background-color: brown;
    }
    .img1_mobile{
        right: 80px;
    }
    #img{
        position: relative;
        margin-top: 0px;
        bottom: 0;
        right: 30px;
    }
    #imgs{
        bottom: 0;
        right: 0;
    }
}
